# figma-tokens-push.yaml

name: Create Figma Tokens Push PR

# Match the branch you put in your Figma Tokens Sync Credentials in the next step
on:
  push:
    branches:
      - figma-tokens

jobs:
  pull-request:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Create Pull Request
        uses: repo-sync/pull-request@v2
        with:
          destination-branch: 'main'
          pr_title: 'Figma Tokens Update'
          pr_body: ' Design Tokens were updated in Figma! This PR was created to update the code '
          github_token: ${{secrets.GH_PAT}}
